@use "@/assets/style/viewports" as viewports;

.circularNav {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 530px;
  height: 530px;
  border: 1px solid var(--c-dark-42-20);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  @media (max-width: viewports.$viewportTablet) {
    display: none;
  }
}

.circul {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  background: transparent;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .circulItem {
    background: var(--c-dark-42);
    width: 6px;
    height: 6px;
    border: 1px solid var(--c-dark-42);
    border-radius: 50%;

    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    .category {
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      padding: 0 0 0 20px;
      font-weight: bold;
      opacity: 0;
      animation: circulOpenCategory .3s ease 0.6s forwards;
    }
  }

  &:hover .circulItem {
    background: var(--c-light);
    width: 56px;
    height: 56px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, background 0.3s ease-in-out 0.2s,
    transform 0.5s ease-in-out;
  }

  &:hover {
    width: 56px;
    height: 56px;
  }
}

.circul,
.circulItem {
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.circularNav,
.circulItem {
  transition: transform 0.5s ease-in-out;
}

.circulOpen {
  width: 56px;
  height: 56px;
}

.circulOpen .circulItem {
  background: var(--c-light);
  width: 56px;
  height: 56px;
}

@keyframes circulOpenCategory {
  100% {
    opacity: 1
  }
}
