:root {
  //LIGHT ---------------
  --c-light: #fff;

  //DARK ----------------
  --c-dark-42: #42567A;
  --c-dark-42-10: rgba(66, 86, 122, 0.1);
  --c-dark-42-20: rgba(66, 86, 122, 0.2);
  --c-dark-42-50: rgba(66, 86, 122, 0.5);

  //MEDIUM --------------
  --c-medium-38: #3877EE;
  --c-medium-5D: #5d60ef;

  //ERROR ---------------
  --c-err-EF: #ef5da8;
}

