@use "sass:math";

@function to-rem($size) {
  @return math.div($size, 16) * 1rem;
}

:root {
  //LINE -------------------
  --l-h-30: 30px;
  --l-h-67: 67.2px;
  --l-h-160: 160px;

  //FONT-SIZE --------------
  --f-s-14: #{to-rem(14)};
  --f-s-20: #{clamp(to-rem(14), 5vw, to-rem(20))};
  --f-s-25: #{clamp(to-rem(16), 5vw, to-rem(25))};
  --f-s-56: #{clamp(to-rem(20), 5vw, to-rem(56))};
  --f-s-200: #{to-rem(200)};

  //WEIGHTS ----------------
  --f-w-reg: 400;
  --f-w-bold: 700;
}

