@use "@/assets/style/viewports" as viewports;

.container {
  position: relative;

  .swiper {
    padding: 0 0 3.8%;
  }

  .swiperBlock {
    cursor: pointer;
    @media (max-width: viewports.$viewportMobile) {
      padding: 20px 0 78px;
      border-top: 1px solid var(--c-dark-42-20);
    }

    .year {
      margin: 0 0 15px;
      color: var(--c-medium-38);
    }
  }


  :global(.swiperPrev),
  :global(.swiperNext) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: var(--c-light);
    border-radius: 50%;
    box-shadow: 0 0 5px 0 var(--c-medium-38);
    z-index: 100;
    opacity: 1;
    transition: opacity 0.3s ease;

    @media (max-width: viewports.$viewportTablet) {
      display: none;
    }
  }

  :global(.swiperPrev) {
    left: -52px;
  }

  :global(.swiperNext) {
    right: -52px;
  }

  :global(.swiperDisabled) {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  :global(.swiper-pagination) {
    position: static;
    bottom: 32px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    @media (min-width: viewports.$viewportTablet) {
      display: none;
    }

  }

  :global(.bullet) {
    display: flex;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    margin: 0 10px 0 0;
    background: var(--c-dark-42-50);
  }

  :global(.bulletActive) {
    background: var(--c-dark-42);
  }

  :global(.swiper-slide) {
    opacity: 0.1;
    transition: opacity 1s ease;
  }

  :global(.swiper-slide.swiper-slide-visible) {
    opacity: 1;
  }

  .nextBtn {
    transform: rotate(180deg);
  }
}




